.App {
  text-align: center; }

.App-header {
  background-color: #4286f4;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.container {
  margin-top: 4vh;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center; }

.md-input {
  background: white;
  width: 40vw;
  height: 70vh;
  padding: 20px;
  margin-right: 5vw;
  margin-left: 5vw;
  border-color: #4286f4;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  padding: 20px; }

.md-output {
  background: white;
  width: 40vw;
  height: 70vh;
  padding: 20px;
  margin-right: 5vw;
  margin-left: 5vw;
  border-color: #4286f4;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  padding: 20px;
  text-align: left; }

.button {
  background-color: white;
  border-color: #4286f4;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  padding: 20px;
  padding: 10px;
  margin-top: 5px; }
